h1 {color: red;}

body{background-color: Blue;}

h2{color: Yellow; font-size: 35px}

p{color: white; font-size: 20px}

li{color: white;font-size: 20px}

h3{color:gold;font-size: 30px}
h4{color: gold;font-size: 25px}
